    body {
        color: rgb(0, 0, 0);
        background: rgba(148, 0, 0, 0.842);
        margin: 0px;
        font-family: "Stack Sans Headline", Stack Sans Headline;
        margin-bottom: 100px;
    }

    header {
        border-bottom: solid 2px rgb(255, 252, 252);
        padding: 20px;
        font-size: 32px;
        color: rgb(0, 0, 0);
    }

    section {
        background: orangered;
        padding-bottom: 80px;
        padding-top: 80px;
        display: flex;
        justify-content: center;
    }

    .chamada-texto {
        margin-right: 5%;
    }

    h1{
        font-size: 40px;outras indicações
    }

    p{
        font-size: 20px;
    }

    img{
        height: 200px;
    }

    .categoria-videos{
        display: flex;
        overflow-x: auto;
        gap: 10px;
    }

    .categoria{
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 50px;
    }
    .categoria-videos img{
    opacity: 0,5;    
    }

    .categoria-videos img:hover{
        opacity: 1.0;
        border: 1px solid black;
    }
    .categoria h2{
        color:royalblue ;
    }